ATABASE_URL=******************************************************
JWT_SECRET=********
EMAIL_USER=***********
EMAIL_PASS=********
PORT=*****
SUPER_ADMIN_EMAIL=*************
SUPER_ADMIN_PASSWORD=**********  # Sensitive information should not be exposed
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret